@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    /*overflow:hidden;*/
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes gradient {
    0%, 100% {
        background-position:0% 0%;
    }
    25% {
        background-position:0% 100%;
    }
    50% {
        background-position:100% 100%;
    }
    75% {
        background-position:100% 0%;
    }
}

@keyframes gradient-1 {
    0%, 100% {
        background: linear-gradient(to bottom left, #48bb78, #4299e1, #63b3ed);
    }
    20% {
        background: linear-gradient(to bottom left, #48bb78, #63b3ed, #4299e1);
    }
    40% {
        background: linear-gradient(to bottom left, #4299e1, #48bb78, #63b3ed);
    }
    60% {
        background: linear-gradient(to bottom left,  #63b3ed, #48bb78, #4299e1);
    }
    80% {
        background: linear-gradient(to bottom left, #4299e1, #63b3ed, #48bb78);
    }
}

.animated-gradient{
    background-size:300% 300%;
    animation:gradient 10s linear infinite;
}